<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RemoveHtmlExtension" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <rule name="RedirectHtmlFiles" stopProcessing="true">
                    <match url="^(.+)\.html$" ignoreCase="true" />
                    <action type="Redirect" url="{R:1}" redirectType="permanent" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeType fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>